@model IEnumerable<BukuDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Buku List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="BukuCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Judul
					</th>
					<th>
						Pengarang
					</th>
					<th>
						Penerbit
					</th>
					<th>
						Tahun Terbit
					</th>
					<th>
						Harga
					</th>
					<th>
						Jumlah Buku
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Judul
						</td>
						<td>
							@item.Pengarang
						</td>
						<td>
							@item.Penerbit
						</td>
						<td>
							@item.TahunTerbit
						</td>											
						<td>
							@((item.Harga).ToString("c"))
						</td>
						<td>
							@item.JumlahBuku
						</td>
						
						<td>
							<a asp-action="BukuDelete" asp-route-bukuId="@item.IdBuku" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>